* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #97c01f;
  text-align: center;
  margin: 3em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.grid {
  max-width: 50em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.tile {
  padding: 0.5rem;
}

.tile img {
  width: 6rem;
}

@media only screen and (max-width: 550px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .tile img {
    width: 4rem;
  }

  header {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  body {
    margin: 1.4em;
  }
}
